.ipynb_checkpoints
**egg-info
**__pycache__
**.DS_Store
.pytest_cache
.vscode
TODO

docs/build

.coverage
publish.sh
ignore/

dev/scripts/info

# everything in examples except .ipynb files
**/examples/*
!**/examples/*.ipynb

testing*
blah

**/*.npz
**/*.pkl