.ipynb_checkpoints
**egg-info
**__pycache__
**.DS_Store
.pytest_cache
.vscode

dev/docs/build

.coverage
publish.sh

# everything in examples except .ipynb files
**/examples/*
!**/examples/*.ipynb

testing*

**/*.npz