name: Docs
on: [push]
permissions:
    contents: write
jobs:
    docs:
        name: Docs
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                  cache: pip
                  cache-dependency-path: pyproject.toml
                  python-version: 3.7
            - name: Install dependencies
              run: pip install -e ".[dev]"
            - name: Sphinx build
              run: sphinx-build docs/source docs/build
            - name: Sphinx link check
              run: sphinx-build -b linkcheck docs/source docs/build
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
              with:
                  publish_branch: gh-pages
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: docs/build/
                  force_orphan: true
