name: Tests
on: [push]
permissions:
    contents: read
jobs:
    tests:
        name: Tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                  cache: pip
                  cache-dependency-path: pyproject.toml
                  python-version: 3.8
            - name: Install dependencies
              run: pip install ".[dev]"
            - name: Run tests
              run: pytest --cov src
            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v3
